td{
    border: 1px black solid;
}
table{
    text-align:center;
    border-collapse:collapse;
    border: 1px black solid;
    margin:auto;
}
.row-split{
    background-color: #fb7299;
    height:10px;
}